.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 7.5rem;
    font-weight: 700;
    letter-spacing: 2.3rem;
    margin-bottom: 3rem;
    animation: moveInLeft 2s ease-out;
    /*fix for glitch that shocks animation*/
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1.5rem;
        font-size: 3.5rem;
        margin-bottom: 1.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation: moveInRight 2s ease-out;
    backface-visibility: hidden;
    margin-bottom: 1.5rem;
    color: #fff; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .75rem;
        font-size: 2rem;
        margin-bottom: 1rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #3388B3, #000027);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.btn {
  /*link pseudoclass, special state of selector */
  /*When we click the button that is called the active state*/
  /*this transform state is always related to the hover state, not the hover state.*/
  /*the after pseudo element adds an element right behind the elemetn*/ }
  .btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    /*first are top and bottom, second are left and right*/
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    /*this refers to all the animations that will be added to the initial state*/
    /*the transitions property needs to be on the initial state*/
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.3rem);
    /*1st offset in x direction, 2nd y offset, 3rd blury shadow we want to see*/
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /* we want to see the after button when we hover the button*/ }
    .btn:hover::after {
      /*what scale does is increase the element*/
      /*there's scale, scaleX and scaleY*/
      transform: scaleX(1.5) scaleY(1.4);
      /*this makes the ::after button go invisible after the 0.4 seconds in the transition*/
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--grey {
    background-color: #7C7C7C;
    color: white; }
  .btn--primary {
    background-color: #002F5A;
    color: white; }
  .btn::after {
    /*we always need to specify content and display properties*/
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveInBottom 2s ease-out .75s;
    /*the 0% stats will be applied before the animation starts*/
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #002F5A;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #002F5A;
  padding: 3px;
  transition: all .2s; }
.btn-text:hover {
  background-color: #002F5A;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }
.btn-text:active {
  box-shadow: 0 0.5rem 1 rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

* {
  font-size: 1.6rem; }

.login-page {
  padding: 5%;
  position: relative;
  height: 100vh; }
  .login-page .form-container {
    position: absolute;
    width: 100%;
    top: 15%; }
    @media (max-width: 56.25em) {
      .login-page .form-container {
        top: 20%; } }
    .login-page .form-container .header-box {
      text-align: center; }
      .login-page .form-container .header-box .heading-secondary {
        text-align: center;
        display: inline-block;
        width: 35%;
        font-size: 2.2rem;
        margin-top: 4rem; }
    .login-page .form-container .form__group {
      width: 70%;
      margin: 0 auto;
      margin-top: 2rem;
      border: 1px solid #ccc;
      border-radius: 10px; }
    .login-page .form-container .form__input {
      font-size: 1.5rem;
      font-family: inherit;
      padding: 2.5rem 3rem;
      color: inherit;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      border-bottom: 3px solid transparent;
      width: 100%;
      display: block; }
      .login-page .form-container .form__input:first-child {
        border-bottom: 1px solid #ccc; }
      .login-page .form-container .form__input:hover {
        outline: none; }
    .login-page .form-container .form__error {
      color: red;
      text-align: center;
      margin-top: 2rem; }
    .login-page .form-container .form__btn {
      margin: 2rem auto;
      display: block;
      width: 70%;
      padding: 1.4rem 0;
      background-image: linear-gradient(to bottom right, #3388B3, #002F5A);
      border-radius: .5rem;
      font-size: 1.8rem;
      color: #fff;
      cursor: pointer; }
    .login-page .form-container .spinner-container {
      display: flex;
      justify-content: center;
      margin-top: 10rem; }
  .login-page__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #999;
    text-align: center;
    padding: 3.5rem 0; }
  .login-page__footer-text {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 0; }

/*# sourceMappingURL=login.component.css.map */
