<div class="locate-players">
    <div class="locate-players__text-container">
     <div>
       <h2 class="locate-players__header">team up with local players</h2>
       <h4 class="locate-players__sub-header">Sign up, log in and start adventures by exploring the world of Harry Potter: Wizards unite with people in your neighbourhood</h4>
     </div>
      <div class="locate-players__btn-container">
        <button class="locate-players__btn" (click)="open('signup')">SIGN UP</button>
        <button class="locate-players__btn" (click)="open('login')">LOG IN</button>
      </div>
    </div>
    <div class="locate-players__images-container">
      <div class="composition">
        <img src="assets/images/composition/friends.jpeg" alt="Photo 1" class="composition__photo composition__photo--p1">
        <img src="assets/images/composition/train.jpeg" alt="Photo 2" class="composition__photo composition__photo--p2">
        <img src="assets/images/composition/google-maps.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
      </div>
    </div>
</div>
