@import "../abstracts/variables";


.card {
  //perspective needs to be on the parent element
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  // we have to specify the same height because when we gave the card side an absolute
  // position, the height of the card was taken out and collapsed
  height: 40rem;

  &__img {
    width: 100%;
    height: 30rem;
    border-radius: 3px;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  }

  &__side {
    color: #fff;
    font-size: 2rem;
    height: 40rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //hides the backside of the card
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
       background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary);
    }

    &--back {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      transform: rotateY(180deg);

      &-1 {

      }

      &-2 {

      }

      &-3 {

      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
