  $color-primary: #002F5A;
  $color-primary-light: #3388B3;
  $color-primary-dark: #000027;
$color-secondary: #7C7C7C;
  $color-secondary-light: #C9C9C9;
  $color-secondary-dark: #636363;
$theme-color-white: #EEE5E9;
$theme-color-bBlue: #92DCE5;
$theme-color-black: #000000;

$slytherin-green: #1a472a;
$gryffindor-red: #740001;
$hufflepuff-yellow: #ecb939;
$ravenclaw-blue: #0e1a40;

  $color-grey-dark: #777;
  $color-grey-dark-2: #999;
  $color-grey-dark-3: #333;

  $color-grey-light-1: #f7f7f7;
  $color-grey-light-2: #eee;

$color-white: #fff;
  $color-white-dark: #ddd;
$color-black: #000;

  // FONT

  $default-font-size: 1.6rem;


//  GRID


  $grid-width: 114rem;
  $gutter-vertical: 8rem;
  $gutter-vertical-small: 6rem;
  $gutter-horizontal: 4rem;
  $gutter-horizontal-small: 1rem;
