

/* Universal reset */
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eee;
}

.mat-spinner circle {
  stroke: #002F5A !important;
}



@media (min-width: 112.5em) {
  html {
    font-size: 75%;
    /* 1 rem = 12px / 16 */ } }
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
    /* 1rem = 9px, 9/16 = 50% */ } }
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
    /* 1rem = 8px / 16 */ } }

body {
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

