.create-forum-section-container {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin-bottom: 3rem;
  }

  .btn {
    display: block;
    width: 50%;
  }

}

